@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Fonts */
$font-primary: inter, sans-serif;

/* Colors */
$white: #ffffff;
$black: #000000;

/* Sizes */
$container-width: 1170px;
$container-half-padding: 15px;

/* Transition */
$transition: 0.3s;
